*{
    box-sizing: border-box;
}
.body{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;   
}
.header{
      margin: 0;
      background-color: dodgerblue;
      text-align: center;
      padding: 1px;
      color: white;
      width: 100%;
      font-family: sans-serif;
}
.topnav{
    overflow: hidden;
    background-color: #333;
    color:white;
    font-family: sans-serif; 
}
/* Style the topnav links */
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
    font-family: sans-serif;
}
.topnav h2{
    padding-left: 6px;
    font-family: sans-serif;
}
/* change color on hover */
.topnav a:hover{
    background-color: white;
    color: white;
}
.row{
    display: flex;
}
.leftColumn{
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.row2{
    display: flex
}


