*{
    box-sizing: border-box;
}
.body{
    /* color: #1E90FF; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    margin: 0;
    background-color: dodgerblue;
    text-align: center;
    padding: 1px;
    color: white;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
    width: 100%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.column1{
    background-color: #1E90FF;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
}

.column2{
    background-color: #1E90FF;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
}

.column3{
    background-color: #1E90FF;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
}